.map {
  height: 600px;
  canvas {
    border-radius: $border-radius-default;
  }
}

.pin {
  position: relative;
}

.pin__marker {
  box-sizing: border-box;
  transform: translate(-50%, calc(-50% - 24px));
  cursor: pointer;
}

.pin__id {
  position: absolute;
  margin: 0;
  transform: translate(-50%, calc(-52% - 80px));
  color: white;
}
