@import 'modern-normalize/modern-normalize.css';
@import 'mixins';
@import 'fonts';
@import 'react-virtualized/styles.css';

body {
  font-family: 'Fira Sans', sans-serif;
  min-width: 920px;
}

.box {
  padding: $scale-5;
  border-radius: $border-radius-default;
  box-shadow: $shadow-default;
}
