$primary: blue;



// gaps
$scale-1: 4px;
$scale-2: 8px;
$scale-3: 12px;
$scale-4: 16px;
$scale-5: 20px;
$scale-6: 24px;

// box
$border-radius-default: $scale-2;
$shadow-default: 0 0 10px 1px rgba(5, 5, 5, 0.08);
