@import "~/styles/mixins";

.clinics {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: $scale-3;

  height: 100%;
  padding-right: $scale-4;
}

.clinics__field {
  position: relative;
  padding: 10px 0;
  border-top: 1px solid lightgrey;
}

.clinics__input {
  width: 100%;
  padding: $scale-2;
  border: 1px solid lightgrey;
  border-radius: $scale-1;
}

.clinics__meta {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $scale-3;
  align-items: end;
}

.clinics__counter {
  margin: 0;
}


.clinics__list {
  @include custom-scroll-bar();

  max-width: 450px;
}

.clinics__item {
  cursor: pointer;

  position: relative;

  overflow: hidden;
  display: -webkit-box;

  padding: $scale-2;

  font-size: 14px;
  text-overflow: ellipsis;

  border-radius: 8px;

  transition: background-color .25s ease;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;

  &:hover {
    background-color: papayawhip;
  }

  p {
    margin: 0;
    line-height: 1.25em;
    text-wrap: balance;
  }
}

