.search-tabs {
  display: flex;
  flex-direction: column;
}

.search-tabs__inputs {
  display: flex;
  gap: $scale-2;
}

.search-tab__input {
  position: absolute;
  margin-right: $scale-1;
  appearance: none;
}

.search-tab__label {
  display: flex;
  align-items: center;

  margin: 0;
  padding: $scale-1 $scale-4;

  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }

  &:has(.search-tab__input:checked) {
    color: var(--white);
    background-color: var(--primary-color);
  }

  &:has(.search-tab__input:checked:focus) {
    outline: 1px solid var(--primary-color);
  }
}
