.search-tabs {
  display: flex;
  flex-direction: column;
}

.search-tabs__inputs {
  display: flex;
  gap: $scale-2;
}

.search-tab__input {
  display: none;
  margin-right: $scale-1;
}

.search-tab__label {
  display: flex;
  align-items: center;

  margin: 0;
  padding: $scale-1 $scale-4;

  border: 1px solid lightgray;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }
}

.search-tab__input_active {
  color: white;
  background-color: blue;
}
