@use '../../../assets/styles/mixins';

.footer {
  display: flex;
  color: var(--text-color);
  background-color: var(--background-color);
}


.footer__sign {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer__heart {
  font-size: 20px;
  color: red;
}
