@import 'modern-normalize/modern-normalize.css';
@import 'mixins';
@import 'fonts';
@import 'react-virtualized/styles.css';

body {
  font-family: 'Fira Sans', sans-serif;
}

.box {
  padding: $scale-5;
  border-radius: $border-radius-default;
  box-shadow: 0 0 10px 1px rgb(5 5 5 / 8%)
}
