@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
          local('Fira Sans'),
          url('../vendors/FiraSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
          local('Fira Sans'),
          url('../vendors/FiraSans-Bold.woff2') format('woff2');
}
