@import 'modern-normalize/modern-normalize.css';
@import 'mixins';
@import 'fonts';

body {
  font-family: 'Fira Sans', sans-serif;
}

.box {
  padding: $scale-4;
  border-radius: $scale-2;
  box-shadow: 0 0 10px 1px rgb(5 5 5 / 8%)
}
